.main{
  display:flex;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}
i#add{
  font-size: 50px;
  color: green;
  cursor: pointer;
}

div#favorites, div#container{
  flex:1;
  display:block;
  width: fit-content;
}

/* Recipe Card */
.recipe{
  max-width: 100%;
  display: flex;
  flex:1;
  flex-direction: column;
  overflow: auto;
}

.recipe img{
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
}

.recipe p{
  max-width: 50%;
  overflow-wrap: break-word;
}