#main{
  display:flex;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}
i#add{
  font-size: 50px;
  color: green;
  cursor: pointer;
}

div.foodContainer, div.favContainer{
  flex:1;
  display:block;
  width: fit-content;
}

/* Recipe Card */
.recipe{
  width: fit-content;
  display: flex;
  flex:1;
  flex-direction: column;
  overflow: auto;
}
.recipe h2{
  width: fit-content;
}

.recipe img{
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.recipe .instructionsContainer p{
  max-width: 50%;
  overflow-wrap: break-word;
}

.recipe .ingredientsContainer p, .ingredientsContainer{
  width: fit-content
}

.recipe .row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.recipe .row i{
  font-size: 30px;
  cursor: pointer;
  color: red;
}

/* Modal Styling */

.modal.show{
  visibility: visible;
}

.modal{
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color: rgb(0,0,0); */
  background-color: rgba(0,0,0,0.4);
}

.modal-display{
  background-color: white;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: fit-content;
  overflow: auto;
  border-radius: 10px;
}

.modal-header i{
  font-size: 30px;
  cursor: pointer;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.modal-body{
  height: 500px;
  display: flex;
  gap: 50px;
}

.directionsBlock{
  display: flex;
  gap: 30px;
  overflow: auto;
}

